<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
    		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
        		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
    			version="2.5">
	<!-- -->
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- -->
	<servlet>
		<!-- Automáticamente inicializa el contexto spring con el formato servlet-name=nombre-servlet.xml -->
		<servlet-name>prueba</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!-- La alternativa de inicialización de spring MVC es mediante un init-param como se describe --> 
		<!--<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/prueba-servlet.xml</param-value>
		</init-param>-->
	
	</servlet>
 
 	<!-- -->
	<servlet-mapping>
		<servlet-name>prueba</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
</web-app>